.header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 4em;
  border-bottom: rgb(232, 234, 237, 0.3) solid 1px;
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 1.6em;
  width: 2.1em;
  margin-right: 0.5em;
}

.home-heading {
  display: flex;
  align-items: center;
}

.label-heading {
  font-size: 1.4rem;
}

.label2-heading {
  font-size: 1.4rem;
  margin-left: 3em;
}
